
<h3>hello world</h3>

{% include "@bolt-components-button-group/button-group.twig" with {
    buttons: [
        {
            text: "View The Components",
            url: "/pattern-lab/index.html",
            width: "full",
            style: "primary"
        },
        {
            text: "Getting Started Guide",
            url: "/docs/getting-started/index.html",
            width: "full",
            style: "secondary"
        }
    ],
    full: true,
} only %}
